<div class="dashboard-main-wrapper">
    <!-- navbar -->
    <div class="dashboard-header">
        <nav class="navbar navbar-expand-lg bg-white fixed-top">
            <a class="navbar-brand" [routerLink]="'/auth/admin'">thinKart</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto navbar-right-top">
                    <li class="nav-item dropdown nav-user">
                        <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false"><img src="assets/images/avatar-1.jpg" alt=""
                                class="user-avatar-md rounded-circle"></a>
                        <div class="dropdown-menu dropdown-menu-right nav-user-dropdown"
                            aria-labelledby="navbarDropdownMenuLink2">
                            <div class="nav-user-info">
                                <h5 class="mb-0 text-white nav-user-name"></h5>
                                <span class="status"></span><span class="ml-2">Available</span>
                            </div>
                            <a class="dropdown-item" href="#"><i class="fas fa-user mr-2"></i>Account</a>
                            <a class="dropdown-item" href="#"><i class="fas fa-cog mr-2"></i>Setting</a>
                            <a class="dropdown-item" href="#"><i class="fas fa-power-off mr-2"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- end navbar -->

    <!-- left sidebar -->
    <div class="nav-left-sidebar sidebar-dark">
        <div class="menu-list">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav flex-column">
                        <li class="nav-divider">
                            Menu
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false"
                                data-target="#submenu-1" aria-controls="submenu-1"><i
                                    class="fa fa-fw fa-user-circle"></i>Dashboard <span
                                    class="badge badge-success">6</span></a>
                            <div id="submenu-1" class="collapse submenu" style="">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" (click)="showPanels('Add')">Add Product</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" (click)="showPanels('Update')">Update Product</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" (click)="showPanels('Delete')">Delete Product</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" (click)="showPanels('Product')">Product Product</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <!-- end left sidebar -->

    <div class="dashboard-wrapper">
        <div class="dashboard-ecommerce">
            <div class="container-fluid dashboard-content ">
                <!-- Product List  -->
                <div class="row" *ngIf="isProductPanelShow">
                    <div class="col-xl-9 col-lg-8 col-md-8 col-sm-12 col-12">
                        <div class="row">
                            <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12" *ngFor="let product of product_list">
                                <div class="product-thumbnail">
                                    <div class="product-img-head">
                                        <div class="product-img">
                                            <img src="assets/images/eco-product-img-1.png" alt="" class="img-fluid">
                                        </div>
                                        <div [ngClass] ="product.stock === 0 ? 'ribbons bg-danger' : 'ribbons'" *ngIf="product.item_latest === 'added' || product.item_latest === 'sold'"></div>
                                        <div class="ribbons-text" *ngIf="product.item_latest === 'added'">New</div>
                                        <div class="ribbons-text" *ngIf="product.item_latest === 'sold'">Sold</div>
                                        <div class=""><a href="#" class="product-wishlist-btn"><i
                                                    class="fas fa-heart"></i></a></div>
                                    </div>
                                    <div class="product-content">
                                        <div class="product-content-head">
                                            <h3 class="product-title">{{product.productName}}</h3>
                                            <div class="product-rating d-inline-block">
                                                <span class="cs-size">Size : {{product.size}}</span>&nbsp;
                                                <span class="cs-stock">Stock : {{product.stock}}</span>
                                            </div>
                                            <div class="product-price">{{product.price|currency : 'INR':'symbol-narrow'}}</div>
                                        </div>
                                        <div class="product-btn">
                                            <a href="#" class="btn btn-primary">Add to Cart</a>
                                            <a href="#" class="btn btn-outline-light">Details</a>
                                            <a href="#" class="btn btn-outline-light"><i
                                                    class="fas fa-exchange-alt"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 col-12">
                        <div class="product-sidebar">
                            <div class="product-sidebar-widget">
                                <h4 class="mb-0">Filter</h4>
                            </div>
                            <div class="product-sidebar-widget">
                                <h4 class="product-sidebar-widget-title">Category</h4>
                                <div class="custom-control custom-radio" *ngFor="let catValue of CategoryList | keyvalue; let i = index">
                                    <input id="catValue{{i}}" name="catFilter" type="radio" class="custom-control-input"
                                        [value]="catValue.key" [(ngModel)]="categoryFilter" (change)="applyFilter('category',catValue.key)" />
                                    <label class="custom-control-label"  for="catValue{{i}}">{{catValue.value}}</label>
                                </div>
                            </div>
                            <div class="product-sidebar-widget">
                                <a href="#" class="btn btn-outline-light">Reset Filter</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end product list-->

                <!-- Add Product  -->
                <div class="row" *ngIf="isAddPanelShow">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="card">
                            <h5 class="card-header">Add Products</h5>
                            <div class="card-body">
                                <form [formGroup]="addItemForm">
                                    <div class="form-group effect"
                                        [ngClass]="{'has-error':!addItemForm.controls['category'].valid}">
                                        <label for="inputText3" class="col-form-label">Product Category</label>
                                        <select class="form-control" name="category" formControlName="category"
                                            (change)="setCategory($event.target.value)">
                                            <option select>--Select--</option>
                                            <option *ngFor="let catValue of CategoryList | keyvalue"
                                                [value]="catValue.key">
                                                {{catValue.value}}</option>
                                        </select>
                                        <div class="alert alert-danger"
                                            *ngIf="!addItemForm.controls['category'].valid && addItemForm.controls['category'].touched">
                                            Product Category
                                            Required
                                        </div>
                                    </div>
                                    <div class="form-group effect"
                                        [ngClass]="{'has-error':!addItemForm.controls['productType'].valid}">
                                        <label for="productType">Product Type</label>
                                        <select class="form-control" name="productType"
                                            formControlName="productType">
                                            <option select>--Select--</option>
                                            <option *ngFor="let productName of productType;" [value]="productName">
                                                {{productName}}</option>
                                        </select>
                                        <div class="alert alert-danger"
                                            *ngIf="!addItemForm.controls['productType'].valid && addItemForm.controls['productType'].touched">
                                            Product Ttype Required
                                        </div>
                                    </div>
                                    <div class="form-group effect" *ngIf="isClothes" [ngClass]="{'has-error':!addItemForm.controls['brand'].valid}">
                                        <label for="brand">Brand Name</label>
                                        <select class="form-control" name="brand" formControlName="brand">
                                            <option select>--Select--</option>
                                            <option *ngFor="let brand of brandList;" [value]="brand">
                                                {{brand}}</option>
                                        </select>
                                        <div class="alert alert-danger"
                                            *ngIf="!addItemForm.controls['brand'].valid && addItemForm.controls['brand'].touched">
                                            Brand Name Required
                                        </div>
                                    </div>
                                    <div class="form-group effect" [ngClass]="{'has-error':!addItemForm.controls['productName'].valid}">
                                        <label for="productName">Product Name</label>
                                        <input id="productName" name="productName" formControlName="productName" type="text"
                                        class="form-control" placeholder=""  autoComplete="off">
                                        <div class="alert alert-danger"
                                            *ngIf="!addItemForm.controls['productName'].valid && addItemForm.controls['productName'].touched">
                                            Product Name Required
                                        </div>
                                    </div>
                                    <div class="form-group effect"
                                        [ngClass]="{'has-error':!addItemForm.controls['size'].valid}"
                                        *ngIf="isClothes">
                                        <label for="size">Product Size</label>
                                        <select class="form-control" name="size" formControlName="size">
                                            <option select>--Select--</option>
                                            <option [value]="S">S</option>
                                            <option [value]="M">M</option>
                                            <option [value]="L">L</option>
                                            <option [value]="XL">XL</option>
                                            <option [value]="XLL">XLL</option>
                                        </select>
                                        <div class="alert alert-danger"
                                            *ngIf="!addItemForm.controls['size'].valid && addItemForm.controls['size'].touched">
                                            Product Size Required
                                        </div>
                                    </div>
                                    <div class="form-group effect"
                                        [ngClass]="{'has-error':!addItemForm.controls['stock'].valid}">
                                        <label for="stock" class="col-form-label">Number of Unit</label>
                                        <input id="stock" name="stock" formControlName="stock" type="text"
                                            class="form-control" placeholder="Unit" numbersOnly autoComplete="off">
                                        <div class="alert alert-danger"
                                            *ngIf="!addItemForm.controls['stock'].valid && addItemForm.controls['stock'].touched">
                                            Number of Unit
                                            Required
                                        </div>
                                    </div>
                                    <div class="form-group effect"
                                        [ngClass]="{'has-error':!addItemForm.controls['price'].valid}">
                                        <label for="price" class="col-form-label">Price</label>
                                        <input id="price" name="price" formControlName="price" type="text"
                                            class="form-control" placeholder="Price" numbersOnly autoComplete="off">
                                        <div class="alert alert-danger"
                                            *ngIf="!addItemForm.controls['price'].valid && addItemForm.controls['price'].touched">
                                            Price
                                            Required
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-lg btn-block"
                                        [disabled]="!addItemForm.valid" (click)="addNewItem()">Add</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end add Product  -->

                <!-- update Product  -->
                <div class="row" *ngIf="isUpdatePanelShow">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="card">
                            <h5 class="card-header">Update Products</h5>
                            <div class="card-body">
                                <form [formGroup]="updateItemForm">
                                    <div class="form-group effect"
                                        [ngClass]="{'has-error':!updateItemForm.controls['category'].valid}">
                                        <label for="inputText3" class="col-form-label">Product Category</label>
                                        <select class="form-control" name="category"
                                            formControlName="category"
                                            (change)="setCategory($event.target.value)">
                                            <option select>--Select--</option>
                                            <option *ngFor="let catValue of CategoryList | keyvalue"
                                                [value]="catValue.key">
                                                {{catValue.value}}</option>
                                        </select>
                                        <div class="alert alert-danger"
                                            *ngIf="!updateItemForm.controls['category'].valid && updateItemForm.controls['category'].touched">
                                            Product Category
                                            Required
                                        </div>
                                    </div>
                                    <div class="form-group effect"
                                        [ngClass]="{'has-error':!addItemForm.controls['productType'].valid}">
                                        <label for="productType">Product Type</label>
                                        <select class="form-control" name="productType"
                                            formControlName="productType" (change)="getProductName($event.target.value)">
                                            <option select>--Select--</option>
                                            <option *ngFor="let productName of productType;" [value]="productName">
                                                {{productName}}</option>
                                        </select>
                                        <div class="alert alert-danger"
                                            *ngIf="!addItemForm.controls['productType'].valid && addItemForm.controls['productType'].touched">
                                            Product Type Required
                                        </div>
                                    </div>
                                    <div class="form-group effect"
                                        [ngClass]="{'has-error':!updateItemForm.controls['productName'].valid}">
                                        <label for="productName">Product Name</label>
                                        <select class="form-control" name="productName"
                                            formControlName="productName">
                                            <option select>--Select--</option>
                                            <option *ngFor="let product of productNameList;" [value]="product.productName">
                                                {{product.productName}}</option>
                                        </select>
                                        <div class="alert alert-danger"
                                            *ngIf="!updateItemForm.controls['productName'].valid && updateItemForm.controls['productName'].touched">
                                            Product Name Required
                                        </div>
                                    </div>
                                    <div class="form-group effect">
                                        <label class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" id="sold" formControlName="updateType" value="sold"
                                                checked="" (change)="setUpdateType($event)"
                                                class="custom-control-input"><span class="custom-control-label">Sold
                                                Out</span>
                                        </label>
                                        <label class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" id="updateItem" formControlName="updateType"
                                                value="update" (change)="setUpdateType($event)"
                                                class="custom-control-input"><span
                                                class="custom-control-label">Update</span>
                                        </label>
                                    </div>
                                    <div class="form-group effect"
                                        [ngClass]="{'has-error':!updateItemForm.controls['size'].valid}"
                                        *ngIf="isClothes && !isSoldOut">
                                        <label for="size">Product Size</label>
                                        <select class="form-control" name="size"
                                            formControlName="size">
                                            <option select>--Select--</option>
                                            <option [value]="S">S</option>
                                            <option [value]="M">M</option>
                                            <option [value]="L">L</option>
                                            <option [value]="XL">XL</option>
                                            <option [value]="XLL">XLL</option>
                                        </select>
                                        <div class="alert alert-danger"
                                            *ngIf="!updateItemForm.controls['size'].valid && updateItemForm.controls['size'].touched">
                                            Product Size Required
                                        </div>
                                    </div>
                                    <div class="form-group effect" *ngIf="!isSoldOut"
                                        [ngClass]="{'has-error':!updateItemForm.controls['stock'].valid}">
                                        <label for="stock" class="col-form-label">Number of Unit</label>
                                        <input id="stock" name="stock"
                                            formControlName="stock" type="text" class="form-control"
                                            placeholder="Unit" numbersOnly autoComplete="off">
                                        <div class="alert alert-danger"
                                            *ngIf="!updateItemForm.controls['stock'].valid && updateItemForm.controls['stock'].touched">
                                            Number of Unit
                                            Required
                                        </div>
                                    </div>
                                    <div class="form-group effect" *ngIf="!isSoldOut"
                                        [ngClass]="{'has-error':!updateItemForm.controls['price'].valid}">
                                        <label for="price" class="col-form-label">Price</label>
                                        <input id="price" name="price" formControlName="price"
                                            type="text" class="form-control" placeholder="Price" numbersOnly
                                            autoComplete="off">
                                        <div class="alert alert-danger"
                                            *ngIf="!updateItemForm.controls['price'].valid && updateItemForm.controls['price'].touched">
                                            Price
                                            Required
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-lg btn-block"
                                        [disabled]="!updateItemForm.valid" (click)="updateItem()">Add</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end update Product  -->

                <!-- Delete Product  -->
                <div class="row" *ngIf="isDeletePanelShow">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="card">
                            <h5 class="card-header">Delete Products</h5>
                            <div class="card-body">
                                <form [formGroup]="deleteItemForm">
                                    <div class="form-group effect"
                                        [ngClass]="{'has-error':!deleteItemForm.controls['category'].valid}">
                                        <label for="inputText3" class="col-form-label">Product Category</label>
                                        <select class="form-control" name="category"
                                            formControlName="category"
                                            (change)="setCategory($event.target.value)">
                                            <option select>--Select--</option>
                                            <option *ngFor="let catValue of CategoryList | keyvalue"
                                                [value]="catValue.key">
                                                {{catValue.value}}</option>
                                        </select>
                                        <div class="alert alert-danger"
                                            *ngIf="!deleteItemForm.controls['category'].valid && deleteItemForm.controls['category'].touched">
                                            Product Category
                                            Required
                                        </div>
                                    </div>
                                    <div class="form-group effect"
                                        [ngClass]="{'has-error':!deleteItemForm.controls['productType'].valid}">
                                        <label for="productType">Product Type</label>
                                        <select class="form-control" name="productType"
                                            formControlName="productType" (change)="getProductName($event.target.value)">
                                            <option select>--Select--</option>
                                            <option *ngFor="let productName of productType;" [value]="productName">
                                                {{productName}}</option>
                                        </select>
                                        <div class="alert alert-danger"
                                            *ngIf="!deleteItemForm.controls['productType'].valid && deleteItemForm.controls['productType'].touched">
                                            Product Type Required
                                        </div>
                                    </div>
                                    <div class="form-group effect"
                                        [ngClass]="{'has-error':!deleteItemForm.controls['productName'].valid}">
                                        <label for="productName">Product Name</label>
                                        <select class="form-control" name="productName"
                                            formControlName="productName">
                                            <option select>--Select--</option>
                                            <option *ngFor="let product of productNameList" [value]="product.productName">
                                                {{product.productName}}</option>
                                        </select>
                                        <div class="alert alert-danger"
                                            *ngIf="!deleteItemForm.controls['productName'].valid && deleteItemForm.controls['productName'].touched">
                                            Product Name Required
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-lg btn-block"
                                        [disabled]="!deleteItemForm.valid" (click)="deleteItem()">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end delete Product  -->
            </div>
        </div>
        <!-- footer -->
        <div class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        Copyright © thinKart. All rights reserved. Dashboard by <a
                            href="/auth/admin">thinKart</a>.
                    </div>
                </div>
            </div>
        </div>
        <!-- end footer -->
    </div>
</div>
