<!-- login page  -->
<div class="splash-container">
    <div class="card ">
        <div class="card-header text-center">
            <span class="splash-description">thinkart</span>
        </div>
        <div class="card-body">
            <form [formGroup] = "loginForm" >
                <div class="form-group effect" [ngClass]="{'has-error':!loginForm.controls['username'].valid}">
                    <input class="form-control form-control-lg" formControlName ="username" id="username" type="text" placeholder="Username"
                        autocomplete="off">
                        <div class="alert alert-danger"
                          *ngIf="!loginForm.controls['username'].valid && loginForm.controls['username'].touched">Username Required
                        </div>
                 </div>
                <div class="form-group effect" [ngClass]="{'has-error':!loginForm.controls['password'].valid}">
                    <input class="form-control form-control-lg" formControlName ="password" id="password" type="password" placeholder="Password">
                    <div class="alert alert-danger"
                          *ngIf="!loginForm.controls['password'].valid && loginForm.controls['password'].touched">Password Required
                        </div>
                </div>
                <button type="submit" class="btn btn-primary btn-lg btn-block" [disabled]="!loginForm.valid" (click)="checkLogin()">Sign in</button>
            </form>
        </div>
        <div class="card-footer bg-white p-0  ">
            <span class="splash-description">Use admin as username & pasword</span>
        </div>
    </div>
</div>

<div *ngIf="isLoading| async">
    <mat-spinner class="spinner"></mat-spinner>
</div>

<!-- end login page  -->
